/*Fonts*/
.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "bebas neue", Verdana, Geneva, Tahoma, sans-serif;
}
/*Changes to all pages*/
body {
  background-color: rgba(10, 54, 65, 1);
}
a {
  text-decoration: none;
}
header {
  color: black;
  position: relative;
}
.rainydayslogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 1em;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .rainydayslogo img {
    width: 400px;
  }
}

main {
  border-style: solid;
  border-color: rgba(10, 54, 65, 1);
  border-width: 5rem;
  border-top: 0;
  border-bottom: 0;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/*Hamburger menu*/
.navigation,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ .navigation {
  display: block;
}

.navigation {
  position: absolute;
  background: #f7e3c8;
  top: 70px;
  flex: -1;
}

.navigation a {
  display: block;
  color: black;
  padding: 10px 20px;
}

.hamburger {
  &:hover {
    background: #f7e3c8;
  }
}

/*Shopping cart*/
#cart {
  position: relative;
  &:hover {
    background: #f7e3c8;
  }
  visibility: visible;
}

/*CTA*/
main {
  background-color: #f7e3c8;
}

.cta-main {
  background-color: #bb0000;
  font-size: 1em;
  text-transform: uppercase;
  padding: 50px 1000px;
  border-radius: 5px;
}
.cta-sale {
  background-color: rgba(255, 0, 0, 1);
  padding: 8px 120px;
  font-size: 64px;
  color: #fff;
  -webkit-text-stroke: 1px black;
  text-decoration: none;
}
.cta-button {
  background-color: rgba(10, 54, 65, 1);
  font-size: 35px;
  color: #fff;
  -webkit-text-stroke: 1px black;
  padding: 8px 30px;
  position: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*About us*/
.aboutus-cta {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-container {
  position: absolute;
}
.aboutus-cta img {
  width: 650px;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .aboutus-cta img {
    width: 400px;
  }
}

/*Explore comfort*/
.explorecomfort {
  text-align: center;
}

/*Homepage content*/
.homepage-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
